.App {
  text-align: center;
}
.row {
  margin-right: 0 !important;
}
/* Navbar */

.App-logo {
  height: 5vmin;
  padding-left: 37%;
}
.navbar-nav .active {
}
.lang {
  padding: 13px !important;
}
.lang-selectd {
  padding: 0 !important;
}
.navColor {
  background-color: #fff6ee;
  font: normal normal bold 16px/19px Roboto;
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-link {
  color: #3c516f !important;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-link:hover {
  color: #f49512 !important;
}
.navPadding {
  padding-right: 10%;
  margin-left: auto;
}
.navbar-toggler {
  background: #3c516f;
  height: 1px;
}
ul {
  list-style: none;
}
.Menuclass {
  padding: 0 57px 100px 6px;
  background-color: #133178 !important;
}
.MenuItem {
  color: #ffffff !important;
  float: left;
}
.service-dropdown-header {
  text-align: left;
  font: normal normal normal 32px/36px Lora;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none !important;
  float: left;
  padding: 10% 0 15% 23%;
}
.service-dropdown-text {
  text-align: left;
  font: normal normal normal 24px/30px Roboto;
  color: #ffffff;
  text-decoration: none !important;
  padding: 0 0 3% 23%;
}
.divWrap {
  flex-wrap: wrap;
  width: 437px;
}
@media (max-width: 576px) {
  .client1 {
    padding-left: 12%;
  }
}
/* Footer */
.footer {
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 4.48px;
}
.footer-yellow {
  background-color: #fffbee;
  color: #000000;
  height: 300px;
}
.footer-yellow .div1 {
  font: normal normal normal 43px/61px Lora;
  letter-spacing: 3.84px;
  color: #26221d;
}
.footer-yellow .div2 {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 1.92px !important;
  color: #000000 !important;
  padding-top: 1%;
}
.footer-yellow .col-lg-8 {
  padding: 5% 0% 1% 11%;
}
.footer-yellow .col-lg-4 {
  margin-top: 3%;
}
.get-in-touch-button {
  border-radius: 5px;
  background-color: #f49512;
  color: #ffffff;
  float: left;
  margin-left: 12%;
  width: 255px;
  height: 50px;
  font: normal normal normal 20px/40px Roboto;
  letter-spacing: 1.92px;
  margin-top: 67px;
}
.get-in-touch-button:hover {
  border: 1px solid #f49512;
  background-color: transparent;
  color: #f49512;
}
.get-in-touch-button img {
  background-color: #f49512;
  border: 1px solid #f49512;
  width: 37px;
  float: left;
}
@media (max-width: 576px) {
  .footer-yellow {
    height: 100%;
    margin-top: 122%;
    padding-bottom: 15%;
  }
}
.footer-blue {
  background-color: #1e365a;
  height: 400px;
  padding: 5% 0 0 8%;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer-blue {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .blue-col {
    padding: 4% 0;
  }
}
.footer-blue a {
  color: #ffffff !important;
}
.footer-blue .liStyle {
  padding-top: 5%;
  letter-spacing: 1.92px;
  font: normal normal normal 14px/19px Roboto;
}
.footer-logo {
  width: 80%;
}
.social-icons {
  width: 6% !important;
  margin: 26px 47px 59px 0;
}

/* Homepage-header */

.Home-header {
  height: 645px;
  background: transparent url("images/bg.svg") 0% 0% no-repeat padding-box;
  background-size: cover;
  width: 100%;
}
@media (max-width: 576px) {
  .Home-header {
    height: 823px;
  }
}
.Home-Picbanner {
  width: 45%;
  padding: 8% 10% 0px 0px;
  float: right;
}
@media (max-width: 576px) {
  .Home-Picbanner {
    width: 90%;
    padding: 8% 10% 10px 0px;
  }
}
.Text-Header-Banner {
  padding-top: 10%;
  padding-left: 12%;
  text-align: left;
  font: normal normal normal 48px/61px Lora;
  letter-spacing: 3.84px;
  color: #ffffff;
  flex-wrap: wrap;
  width: 715px;
}
.Subtext-Header-Banner {
  flex-wrap: wrap;
  width: 680px;
  text-align: left;
  font: normal normal normal 24px/50px Roboto;
  letter-spacing: 2.88px;
  color: #fff6ee;
  padding-left: 12%;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .Subtext-Header-Banner {
    padding-right: 45%;
  }
}
.explore-button {
  border-radius: 5px;
  background-color: #f49512;
  color: #ffffff;
  float: left;
  margin-left: 8%;
  width: 178px;
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 1.92px;
  margin-top: 67px;
}
.explore-button:hover {
  border: 1px solid #f49512;
  background-color: transparent;
  color: #ffffff;
}
.contactus-button {
  margin-top: 67px;
  border: 1px solid #f49512;
  border-radius: 5px;
  color: #ffffff;
  float: left;
  margin-left: 2%;
  width: 178px;
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 1.92px;
}
.contactus-button:hover {
  background-color: #f49512;
  color: #ffffff;
}

/* Homepage-services */
.Home-services {
  height: 1000px;
  background: transparent url("images/bg2.svg") 0% 0% no-repeat padding-box;
  background-size: cover;
  width: 100%;
  margin: -23px 0 0 -23px;
}
@media (max-width: 576px) {
  .Home-services {
    height: 100%;
  }
}
.Text-Home-services {
  text-align: left;
  font: normal normal bold 62px/79px Lora;
  letter-spacing: 4.96px;
  color: #26221d;
  padding-top: 10%;
  padding-left: 12%;
}
.Subtext-Home-services {
  text-align: left;
  font: normal normal normal 24px/50px Roboto;
  letter-spacing: 2.88px;
  color: #26221d;
  padding-left: 12%;
  padding-bottom: 10px;
}
.Home-services-div {
  padding-right: 12%;
}
@media (max-width: 576px) {
  .Home-services-div {
    padding-bottom: 30%;
  }
}
.Home-services .row {
  margin-left: 12%;
}
.services-square {
  background: transparent url("images/services small square.svg") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  height: 313px;
  text-align: center;
  padding-top: 5%;
}
@media (max-width: 576px) {
  .services-square {
    height: 285px;
    padding-top: 15%;
  }
}
.services-square img {
  margin-bottom: 7%;
}
.Link-service {
  text-align: center;
  font: normal normal bold 24px/29px Roboto;
  letter-spacing: 2.88px;
  color: #26221d;
  text-decoration: none !important;
}

/* How We Work */
.Home-work {
  padding-left: 12%;
}
@media (max-width: 576px) {
  .Home-work {
    padding: 0 0 30% 0;
  }
}
.work {
  background: transparent url("images/dashed circle.svg") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  height: 245px;
  text-align: center;
  padding-top: 5%;
}
@media (max-width: 576px) {
  .work {
    background: transparent url("images/dashed circle.svg") 0% 0% no-repeat
      padding-box;
    background-size: contain;
    padding: 0;
    height: 100%;
  }
}
.Home-work p {
  text-align: center;
  font: normal normal bold 62px/79px Lora;
  letter-spacing: 4.96px;
  color: #26221d;
  padding-right: 12%;
  padding-top: 2%;
}
.work img {
  width: 57%;
  padding-left: 5%;
}
@media (max-width: 576px) {
.work img {
  width: 45%;
    padding: 28% 1% 0 0;
}}
.workImg {
  width: 67% !important;
  padding: 7% 0 0 5% !important;
}

@media (max-width: 576px) {
  .workImg {
    padding: 30% 5% 0 4% !important;
  }
}
.work-divText {
  padding-top: 22%;
}
.work-divText1 {
  padding-top: 11%;
}
.work-divText2 {
  padding-top: 6%;
}
.work-divText3 {
  padding-top: 3%;
}
.work-divText4 {
  padding-top: 15%;
}
@media (max-width: 576px) {
  .work-divText2,
  .work-divText3,
  .work-divText4 {
    padding-top: 0 !important;
  }
}
@media (max-width: 576px) {
.work-divText,
.work-divText1{
  padding-top: 10%;
}
}
.work-header {
  font: normal normal bold 21px Roboto;
  letter-spacing: 2.88px;
  color: #26221d;
  margin-top: 50%;
  margin-bottom: 5%;
}
@media (max-width: 576px) {
.work-header {
  margin-top: 25%;
}}
.work-text {
  text-align: center;
  font: normal normal normal 19px/36px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
}
@media (max-width: 576px) {
  .work-text {
    padding: 3%;
    height: 100px;
    overflow: hidden;
  }
}
/* Our Projects */
.Home-project {
  height: 645px;
  background: transparent url("images/bg3.svg") 0% 0% no-repeat padding-box;
  background-size: cover;
  width: 100%;
  margin-top: 270px;
}
@media (max-width: 576px) {
  .Home-project {
    padding-bottom: 30%;
    margin-top: 0;
  }
}
.Home-project p {
  font: normal normal bold 62px/79px Lora;
  letter-spacing: 4.96px;
  color: #26221d;
  padding-top: 2%;
}
.Home-project-bg {
  height: 445px;
  width: 60%;
  background-color: white;
  margin-left: 20%;
  box-shadow: 6px 3px 30px #00000029;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .Home-project-bg {
    width: 100%;
    margin: 0;
  }
}
.project-header {
  float: right;
  padding-right: 10%;
  padding-top: 5%;
  font: normal normal bold 40px/51px Lora;
  letter-spacing: 0px;
  color: #1e365a;
}
.project-text {
  width: 55%;
  float: right;
  text-align: left;
  padding-right: 5%;
  padding-top: 5%;
  font: normal normal normal 16px/50px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
}
@media (max-width: 576px) {
  .project-text {
    overflow: hidden;
    height: 310px;
  }
}
.Home-Picproject {
  width: 40%;
  padding: 0 5% 0 0;
  float: right;
}
.Home-Picfastpayproject {
  width: 37%;
  padding: 0 10% 0 0;
  float: right;
}
@media (max-width: 576px) {
  .Home-Picfastpayproject {
    padding: 15% 10% 0 0;
  }
}
/* Our Clients */
@media (max-width: 576px) {
  .swiperSlider {
    padding-bottom: 30%;
  }
}
.Home-client {
  height: 675px;
  width: 100%;
}
.img-client-slider {
  padding: 3% 4% 7% 4%;
}
.swiper-button-next {
  right: 8% !important;
}
.swiper-button-prev {
  left: 8% !important;
}
.Home-client-bg {
}
.Home-client p {
  font: normal normal bold 62px/79px Lora;
  letter-spacing: 4.96px;
  color: #26221d;
  padding-top: 2%;
}
.client-header {
  font: normal normal normal 40px/51px Lora;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 21%;
  text-align: left;
}
.client-text {
  font: normal normal normal 32px/50px Lora;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
  padding: 1% 27% 0 21%;
}
@media (max-width: 576px) {
  .client-header,
  .client-text {
    padding: 0;
  }
}
.client-text2 {
  font: normal normal normal 16px/36px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
  text-align: left;
  padding: 2% 12% 0 0;
}
.client-img {
  float: left;
  padding: 7% 7% 3% 0;
}
.client-name {
  text-align: left;
  font: normal normal bold 24px/29px Roboto;
  letter-spacing: 2.88px;
  color: #26221d;
  padding-top: 7%;
}
.client-position {
  text-align: left;
  font: normal normal normal 16px/36px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
}

/* Mobile App Development */

.MobileAppDevelopment {
  background-color: #fffbee !important;
}
.MobileAppDevelopment-bg {
  height: 400px;
  background: transparent url("images/Inner page bg.svg") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  width: 100%;
}

.MobileAppDevelopment-Picbanner {
  width: 35%;
  padding: 1% 10% 0px 0px;
  float: right;
}

.Text-Header-Banner {
  text-align: left;
  font: normal normal normal 38px/61px Lora;
  letter-spacing: 3.84px;
  color: #ffffff;
  padding-left: 8%;
}
@media (max-width: 576px) {
  .Text-Header-Banner,
  .Subtext-Header-Banner {
    width: 100%;
  }
}
.Subtext-Header-Banner {
  text-align: left;
  font: normal normal normal 22px/36px Roboto;
  letter-spacing: 1.92px;
  color: #ffffff;
  padding-left: 8%;
}

.breadcrumb {
  background-color: #fffbee !important;
  margin-bottom: 17px;
  padding-left: 8%;
}
.breadcrumb .active {
  height: 30px;
  background: transparent url("images/breadcombs.svg") 0% 0% no-repeat
    padding-box;
  background-size: cover;
}
.breadcrumb-item {
  padding-right: 7px;
  color: #000000 !important;
}
.breadcrumb a {
  color: #000000 !important;
}
.what-we-do {
  padding-bottom: 3%;
}
.what-we-do-title {
  text-align: left;
  font: normal normal normal 40px/51px Lora;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 8%;
  padding-bottom: 1%;
}
.mobSol {
  text-align: left;
  font: normal normal bold 40px/51px Lora;
  letter-spacing: 0px;
  color: #1e365a;
  padding-left: 8%;
}
.mobsol-text {
  text-align: left;
  font: normal normal normal 16px/36px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
  padding-left: 8%;
  padding-right: 7%;
  padding-bottom: 3%;
}
.tickicon {
  float: left;
  padding-top: 1%;
}
.tickiconText {
  text-align: left;
  font: normal normal normal 17px/30px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
  padding-left: 14%;
}
.ul-padding {
  padding-left: 16% !important;
}
.ul-padding2 {
  padding-left: 5% !important;
  padding-right: 12%;
}

.TECHNOLOGIES {
  padding-left: 8%;
  background-color: #ffffff;
  padding-bottom: 3%;
  padding-right: 8%;
}

.TECHNOLOGIES p {
  font: normal normal normal 48px/61px Lora;
  letter-spacing: 3.84px;
  color: #000000;
  text-align: center;
  padding-right: 12%;
  padding-top: 2%;
}
.TECHNOLOGIES-title {
  font: normal normal normal 39px/47px Roboto;
  letter-spacing: 0px;
  color: #1e365a;
  padding-bottom: 3%;
}
.TECH-divText {
  padding-top: 6%;
}
.TECH-divText1 {
  padding-top: 16%;
}
.TECH-divText2 {
  padding-top: 16%;
}
.TECH-divText3 {
  padding-top: 16%;
}

/* INDUSTRIES */
.INDUSTRIES {
  padding: 0 10% 4% 10%;
}
.INDUSTRIES-title {
  font: normal normal normal 30px/41px Lora;
  letter-spacing: 0px;
  color: #1e365a;
  padding-bottom: 3%;
}
.INDUSTRIES p {
  font: normal normal normal 48px/61px Lora;
  letter-spacing: 3.84px;
  color: #000000;
  padding: 3% 0;
}
.INDUSTRIES .row {
  padding-bottom: 2%;
}
.INDUSTRIES img {
  width: 80px;
}
.INDUST-divText {
  padding-top: 10%;
}
.INDUST-divText1 {
  padding-top: 3%;
}
.INDUST-divText2 {
  padding-top: 10%;
}
.INDUST-divText3 {
  padding-top: 3%;
}
.INDUST-divText4 {
  padding-top: 3%;
}
.INDUST-divText5 {
  padding-top: 10%;
}

/* PRODUCTS */
.PRODUCTS {
  background-color: white;
  padding-bottom: 4%;
}
.PRODUCTS p {
  font: normal normal normal 48px/61px Lora;
  letter-spacing: 3.84px;
  color: #000000;
  padding-top: 2%;
}
.PRODUCTS-bg {
  height: 445px;
  width: 60%;
  margin-left: 20%;
}

/* DedicatedSoftware */
.DedicatedSoftware {
  background-color: #fffbee;
}
.DedicatedSoftware-Picbanner {
  width: 43%;
  padding: 3% 10% 0px 0px;
  float: right;
}
.MobileAppDevelopment-bg .Text-Header-Banner {
  padding-top: 7% !important;
}
/* ADVANTAGES */
.ADVANTAGES {
  padding: 0 10% 4% 10%;
  background-color: #ffffff;
}
.ModelIdea {
  padding-bottom: 3%;
}
.model-ideal-title {
  text-align: left;
  font: normal normal normal 40px/51px Lora;
  letter-spacing: 0px;
  color: #1e365a;
  padding-left: 8%;
}
.ul-padding li {
  overflow: hidden;
  height: 85px;
  padding: 5% 0 5% 0;
}
.ul-padding2 li {
  overflow: hidden;
  height: 85px;
  padding: 5% 0 5% 0;
}
.ADVANTAGES p {
  font: normal normal normal 42px/61px Lora;
  letter-spacing: 2.74px;
  color: #000000;
  padding: 7% 0 3% 0;
}
.adv-name {
  text-align: left;
  font: normal normal normal 24px/31px Lora;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}
.adv-position {
  text-align: left;
  font: normal normal normal 16px/29px Roboto;
  letter-spacing: 1.92px;
  color: #000000;
}
.ADVANTAGES img {
  width: 40%;
}
.adv-img {
  float: left;
  padding: 0 7% 3% 0;
}

/* Works */
.Works {
  padding: 0 10% 4% 10%;
  background-color: #fffbee;
}
.Works p {
  font: normal normal normal 48px/100px Lora;
  letter-spacing: 2.74px;
  color: #000000;
}
.Works img {
}
.Works-img {
  float: right;
  padding: 12% 0 12% 0;
}

.title-helps {
  padding: 28px 26% 0 26%;
}
